<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>Le voïvode Vlad III Basarab, surnommé « l'Empaleur », né entre 1431 et 1436 probablement à Târgoviște en Valachie et mort en décembre 1476 près de Bucarest, est prince de Valachie en 1448, puis de 1456 à 1462 et en 1476.</p>
    <p>Un autre surnom de Vlad III, Drăculea (signifiant « fils du dragon » en roumain médiéval), fut repris par Bram Stoker pour nommer le personnage littéraire du comte vampire Dracula.</p>
</body>
</html>