<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
  </head>
  <body>
    <h1>Works</h1>
    <ul>
      <li>Prince de Valachie (1448 - 1448) ;</li>
      <li>Dynastie : Drăculea ;</li>
      <li>Date de naissance : 1431 ;</li>
      <li>Lieu de naissance : Târgoviște (probable) ou Sighișoara (légendaire) ;</li>
      <li>Date de décès : décembre 1476 (à 45 ans) ;</li>
      <li>Lieu de décès : Bucarest ;</li>
      <li>Père : Vlad II le Dragon (Vlad Dracul) ;</li>
      <li>Mère : Vasilisa Cneajna Muşat, princesse de Moldavia.</li>
    </ul>
  </body>
</html>